<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input id="title" class="form-control" type="text">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <div class="input-group">
            <span class="input-group-text">₹</span>
            <input id="price" class="form-control" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" class="form-control" type="select">
            <option value="fruits">fruits</option>
        </select>
    </div>
    <div class="form-group">
        <label for="imgUrl">Image URL</label>
        <input id="imgUrl" class="form-control" type="text">
    </div>
    <button class="btn btn-primary mt-4">add product</button>
</form>